.list-group-item.active {
    background-color: #2b272c24;
    border-color: #2b272c24;
}

.text-ellipsis {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}
.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}
.fs-75 {
    font-size: 75px;
}
.fs-s {
    font-size: small !important;
}
.drive-desktop {
    height: 700px !important;
    overflow: overlay;
}
.form-control, .form-select {
    border-color: #157347 !important;
}
.modal-content {
    border-color: #6c757d !important;
    .modal-header {
        background-color: darkgray !important;
    }
}
.progress {
    border: 1px solid #198754 !important;
    border-radius: 0 !important;
}
.folder-box {
    background-color: #2b272c24;
    border-color: #2b272c24;
}
.driveContent::-webkit-scrollbar {
    width: 5px;
}
.driveContent::-webkit-scrollbar-thumb {
     background: #157347;
}
.driveContent::-webkit-scrollbar-track {
     background: #f1f1f1;
}
.modal-body::-webkit-scrollbar {
    width: 10px;
}
.modal-body::-webkit-scrollbar-thumb {
     background: #157347;
}
.modal-body::-webkit-scrollbar-track {
     background: #f1f1f1;
}