.list-group-item.active {
    background-color: #2b272c24;
    border-color: #2b272c24;
}

.text-ellipsis {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}
.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}
.fs-75 {
font-size: 75px;
}